

.jumbotron {
 
    background: url(img/city.jpg) no-repeat top center;
    background-size: cover;
    overflow: hidden;
    width: auto;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    border-radius: 1%;
   
}